AUTH_GRPC_PORT=
AUTH_HTTP_PORT=

LOGGER_LEVEL=

REDIS_ADDR=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_USER_PASSWORD=
REDIS_MAX_RETRIES=
REDIS_DIAL_TIMEOUT=
REDIS_TIMEOUT=

USER_GRPC_ADDR=
MEDIA_GRPC_ADDR=
SUPPORT_GRPC_ADDR=
