DB_NAME=testdb
DB_USER=superkran
DB_PASSWORD=Qwerty123
DB_PORT=5431

BACKEND_PORT=8080
FRONTEND_PORT=3001

POOL_MAX_CONNS=16
POOL_MAX_CONN_LIFETIME=6h
POOL_MAX_CONN_IDLE_TIME=3h

MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_NAME=media
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
