APP_ENDPOINT=https://arisnet.ru

DB_NAME=ARIS-DB
DB_USER=kokinside
DB_PASSWORD=password1
DB_PORT=5431
DB_HOST=127.0.0.1
SSL_MODE=disable

BACKEND_PORT=8080
NGINX_PORT=8080
FRONTEND_PORT=3001
AUTH_GRPC_PORT=8002
AUTH_HTTP_PORT=8085

POOL_MAX_CONNS=16
POOL_MAX_CONN_LIFETIME=6h
POOL_MAX_CONN_IDLE_TIME=3h

MINIO_PORT=9000
MINIO_HOST=127.0.0.1
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET_NAME=media
MINIO_ROOT_USER=kokinside
MINIO_ROOT_PASSWORD=password1
MINIO_USE_SSL=false
MINIO_ENDPOINT=minio:9000

REDIS_CONTAINER_NAME=arisnet-redis
REDIS_USER_PASSWORD=password1
REDIS_PORT=6379
REDIS_PUBLIC_PORT=6380
REDIS_HOST=redis
REDIS_DB=0
REDIS_MAX_RETRIES=10
REDIS_DIAL_TIMEOUT=10s
REDIS_TIMEOUT=10s
REDIS_ADDR=redis:6379
