APP_ENDPOINT=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_HOST=
SSL_MODE=

BACKEND_PORT=
NGINX_PORT=
FRONTEND_PORT=
AUTH_GRPC_PORT=
AUTH_HTTP_PORT=
SUPPORT_GRPC_PORT=
SUPPORT_HTTP_PORT=

POOL_MAX_CONNS=
POOL_MAX_CONN_LIFETIME=
POOL_MAX_CONN_IDLE_TIME=

MINIO_PORT=
MINIO_HOST=
MINIO_CONSOLE_PORT=
MINIO_BUCKET_NAME=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_USE_SSL=
MINIO_ENDPOINT=

REDIS_CONTAINER_NAME=
REDIS_USER_PASSWORD=
REDIS_PORT=
REDIS_PUBLIC_PORT=
REDIS_HOST=
REDIS_DB=
REDIS_MAX_RETRIES=
REDIS_DIAL_TIMEOUT=
REDIS_TIMEOUT=
REDIS_ADDR=
