APP_ENDPOINT=
APP_DOMAIN=

NGINX_SERVER_NAME=
NGINX_CERT_NAME=
NGINX_HEALTH_PATH=
FRONTEND_UPSTREAM=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_HOST=
SSL_MODE=

BACKEND_PORT=
NGINX_PORT=
FRONTEND_PORT=
AUTH_GRPC_PORT=
AUTH_HTTP_PORT=
SUPPORT_GRPC_PORT=
SUPPORT_HTTP_PORT=
GAME_HTTP_PORT=

AUTH_GRPC_PUBLIC_PORT=
AUTH_HTTP_PUBLIC_PORT=
MEDIA_GRPC_PUBLIC_PORT=
MEDIA_HTTP_PUBLIC_PORT=
USER_GRPC_PUBLIC_PORT=
USER_HTTP_PUBLIC_PORT=
POST_GRPC_PUBLIC_PORT=
POST_HTTP_PUBLIC_PORT=
CHAT_GRPC_PUBLIC_PORT=
CHAT_HTTP_PUBLIC_PORT=
SUPPORT_GRPC_PUBLIC_PORT=
SUPPORT_HTTP_PUBLIC_PORT=
COMMUNITY_GRPC_PUBLIC_PORT=
COMMUNITY_HTTP_PUBLIC_PORT=
SEARCH_HTTP_PUBLIC_PORT=
GAME_HTTP_PUBLIC_PORT=

POOL_MAX_CONNS=
POOL_MAX_CONN_LIFETIME=
POOL_MAX_CONN_IDLE_TIME=

MINIO_PORT=
MINIO_PUBLIC_PORT=
MINIO_HOST=
MINIO_CONSOLE_PORT=
MINIO_BUCKET_NAME=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_USE_SSL=
MINIO_ENDPOINT=

REDIS_CONTAINER_NAME=
REDIS_USER_PASSWORD=
REDIS_PORT=
REDIS_PUBLIC_PORT=
REDIS_HOST=
REDIS_DB=
REDIS_MAX_RETRIES=
REDIS_DIAL_TIMEOUT=
REDIS_TIMEOUT=
REDIS_ADDR=

TARANTOOL_CONTAINER_NAME=
TARANTOOL_PUBLIC_PORT=
TARANTOOL_HOST=
TARANTOOL_PORT=
TARANTOOL_USER=
TARANTOOL_PASSWORD=
TARANTOOL_DIAL_TIMEOUT=
TARANTOOL_TIMEOUT=
TARANTOOL_RECONNECT_TIMEOUT=
TARANTOOL_MAX_RECONNECTS=
TARANTOOL_MEMTX_MEMORY=
TARANTOOL_WAL_MODE=

VKID_CLIENT_ID=
VKID_CLIENT_SECRET=
VKID_REDIRECT_URI=
VKID_SCOPE=
VKID_FRONTEND_SUCCESS_PATH=
VKID_FRONTEND_ERROR_PATH=

ELASTICSEARCH_PUBLIC_PORT=
ELASTICSEARCH_ADDR=

CLICKHOUSE_CONTAINER_NAME=
CLICKHOUSE_DB=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_HTTP_PORT=
CLICKHOUSE_NATIVE_PORT=
CLICKHOUSE_ASYNC_INSERT=
CLICKHOUSE_WAIT_FOR_ASYNC_INSERT=
CLICKHOUSE_MAX_INSERT_BLOCK_SIZE=