APP_ENDPOINT=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ADMIN_USER=
DB_ADMIN_PASSWORD=
DB_MIGRATOR_USER=
DB_MIGRATOR_PASSWORD=
DB_MONITOR_USER=
DB_MONITOR_PASSWORD=
DB_AUTH_USER=
DB_AUTH_PASSWORD=
DB_MEDIA_USER=
DB_MEDIA_PASSWORD=
DB_USER_SERVICE_USER=
DB_USER_SERVICE_PASSWORD=
DB_POST_USER=
DB_POST_PASSWORD=
DB_CHAT_USER=
DB_CHAT_PASSWORD=
DB_SUPPORT_USER=
DB_SUPPORT_PASSWORD=
DB_COMMUNITY_USER=
DB_COMMUNITY_PASSWORD=
DB_SEARCH_USER=
DB_SEARCH_PASSWORD=
DB_PORT=
DB_HOST=
SSL_MODE=

BACKEND_PORT=
NGINX_PORT=
FRONTEND_PORT=
PROMETHEUS_PORT=
GRAFANA_PORT=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
NODE_EXPORTER_PORT=
POSTGRES_EXPORTER_PORT=
AUTH_GRPC_PORT=
AUTH_HTTP_PORT=
SUPPORT_GRPC_PORT=
SUPPORT_HTTP_PORT=

POOL_MAX_CONNS=
POOL_MAX_CONN_LIFETIME=
POOL_MAX_CONN_IDLE_TIME=

MINIO_PORT=
MINIO_HOST=
MINIO_CONSOLE_PORT=
MINIO_BUCKET_NAME=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_USE_SSL=
MINIO_ENDPOINT=

REDIS_CONTAINER_NAME=
REDIS_USER_PASSWORD=
REDIS_PORT=
REDIS_PUBLIC_PORT=
REDIS_HOST=
REDIS_DB=
REDIS_MAX_RETRIES=
REDIS_DIAL_TIMEOUT=
REDIS_TIMEOUT=
REDIS_ADDR=
