APP_ENDPOINT=https://arisnet.ru
APP_DOMAIN=arisnet.ru

NGINX_SERVER_NAME=arisnet.ru www.arisnet.ru
NGINX_CERT_NAME=arisnet.ru
NGINX_HEALTH_PATH=/nginx-health
FRONTEND_UPSTREAM=host.docker.internal:3001

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ADMIN_USER=
DB_ADMIN_PASSWORD=
DB_MIGRATOR_USER=aris_migrator
DB_MIGRATOR_PASSWORD=
DB_MONITOR_USER=aris_monitor
DB_MONITOR_PASSWORD=
DB_AUTH_USER=aris_auth
DB_AUTH_PASSWORD=
DB_MEDIA_USER=aris_media
DB_MEDIA_PASSWORD=
DB_USER_SERVICE_USER=aris_user
DB_USER_SERVICE_PASSWORD=
DB_POST_USER=aris_post
DB_POST_PASSWORD=
DB_CHAT_USER=aris_chat
DB_CHAT_PASSWORD=
DB_SUPPORT_USER=aris_support
DB_SUPPORT_PASSWORD=
DB_COMMUNITY_USER=aris_community
DB_COMMUNITY_PASSWORD=
DB_SEARCH_USER=aris_search
DB_SEARCH_PASSWORD=
DB_GAME_USER=aris_game
DB_GAME_PASSWORD=
DB_PORT=
DB_HOST=
SSL_MODE=
APP_DB_HOST=
APP_DB_PORT=
PGBOUNCER_PORT=

BACKEND_PORT=
NGINX_PORT=
FRONTEND_PORT=
PROMETHEUS_PORT=
GRAFANA_PORT=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
NODE_EXPORTER_PORT=
POSTGRES_EXPORTER_PORT=
AUTH_GRPC_PORT=
AUTH_HTTP_PORT=
SUPPORT_GRPC_PORT=
SUPPORT_HTTP_PORT=
GAME_HTTP_PORT=

AUTH_GRPC_PUBLIC_PORT=
AUTH_HTTP_PUBLIC_PORT=
MEDIA_GRPC_PUBLIC_PORT=
MEDIA_HTTP_PUBLIC_PORT=
USER_GRPC_PUBLIC_PORT=
USER_HTTP_PUBLIC_PORT=
POST_GRPC_PUBLIC_PORT=
POST_HTTP_PUBLIC_PORT=
CHAT_GRPC_PUBLIC_PORT=
CHAT_HTTP_PUBLIC_PORT=
SUPPORT_GRPC_PUBLIC_PORT=
SUPPORT_HTTP_PUBLIC_PORT=
COMMUNITY_GRPC_PUBLIC_PORT=
COMMUNITY_HTTP_PUBLIC_PORT=
SEARCH_HTTP_PUBLIC_PORT=
GAME_HTTP_PUBLIC_PORT=

POOL_MAX_CONNS=
POOL_MAX_CONN_LIFETIME=
POOL_MAX_CONN_IDLE_TIME=

MINIO_PORT=
MINIO_PUBLIC_PORT=
MINIO_HOST=
MINIO_CONSOLE_PORT=
MINIO_BUCKET_NAME=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_USE_SSL=
MINIO_ENDPOINT=

REDIS_CONTAINER_NAME=
REDIS_USER_PASSWORD=
REDIS_PORT=
REDIS_PUBLIC_PORT=
REDIS_HOST=
REDIS_DB=
REDIS_MAX_RETRIES=
REDIS_DIAL_TIMEOUT=
REDIS_TIMEOUT=
REDIS_ADDR=

TARANTOOL_CONTAINER_NAME=
TARANTOOL_PUBLIC_PORT=
TARANTOOL_HOST=
TARANTOOL_PORT=
TARANTOOL_USER=
TARANTOOL_PASSWORD=
TARANTOOL_DIAL_TIMEOUT=
TARANTOOL_TIMEOUT=
TARANTOOL_RECONNECT_TIMEOUT=
TARANTOOL_MAX_RECONNECTS=
TARANTOOL_MEMTX_MEMORY=
TARANTOOL_WAL_MODE=

VKID_CLIENT_ID=
VKID_CLIENT_SECRET=
VKID_REDIRECT_URI=https://arisnet.ru/api/auth/vkid/callback
VKID_SCOPE=
VKID_FRONTEND_SUCCESS_PATH=
VKID_FRONTEND_ERROR_PATH=
