POST_GRPC_PORT=
POST_HTTP_PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
SSL_MODE=
POOL_MAX_CONNS=
POOL_MAX_CONN_LIFETIME=
POOL_MAX_CONN_IDLE_TIME=

USER_GRPC_ADDR=
MEDIA_GRPC_ADDR=
AUTH_GRPC_ADDR=
COMMUNITY_GRPC_ADDR=

TARANTOOL_HOST=
TARANTOOL_PORT=
TARANTOOL_USER=
TARANTOOL_PASSWORD=
TARANTOOL_DIAL_TIMEOUT=
TARANTOOL_TIMEOUT=
TARANTOOL_RECONNECT_TIMEOUT=
TARANTOOL_MAX_RECONNECTS=
